.idea/
Adobe_Deep_Matting_Dataset.zip
Combined_Dataset/
__pycache__/
custom_layers/__pycache__/
models/
train2014/
logs/
bg/
fg/
mask/
merged/
train2014.zip
Deep-Image-Matting.7z
matting_evaluation.zip
training.txt